body {
  background-color: lightgray;
  margin: 0px;
  font-family: sans-serif;
  overflow: hidden;
}
#navi {
  list-style-type: none;
  position: fixed;
  top: 1%;
  right: 0;
  padding: 0;
  background-color: #f1f1f1;
  border-width: thin;
  border-style: groove;
  font-size: 18px;
}
li {
  display: block;
  text-align: center;
  margin-top: 4px;
}
li a {
  border: darkgreen solid 1px;
  display: block;
  padding: 5px;
  color: white;
  background-color: green;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}
a.nowy{
  margin-top: -4px;
}
#suwak {
  position: static;
  width: 98%;
}
#label {
  text-align: justify;
  position: fixed;
}
input[type=number] {
  display: inline-block;
  margin-left: 10px;
  width: 40px;
}
div.suwak {
  display: block;
  text-align: center;
  position: absolute;
  padding: 5px;
  margin-top: 150px;
  right: 1px;
  width: 200px;
  background-color: #f1f1f1;
  border-width: thin;
  border-style: groove;
}
input.suwak {
  margin-right: 20px;
}
input.knot {
  margin: 0;
}
#form {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
#popup, #waga, #wezly {
  display: block;
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
}
button {
  margin-top: 20px;
  background-color: darkgreen;
  font-size: 16px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
